/* Style of the body section */

.body-section {
	background-color: #FFF9EA;
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
}

.body-side-left {
 	float: left;
	width: 20%;
	background-color: #FFF9EA; /*#FFF9EA*/
}

.body-center {
	/*float: left;*/
	width: 60%;
	background-color: #FFF9EA; /*gris */
	display: flex;
}

.body-center-left{
	  width: 80%;
}

.body-posts {
	border: 5px solid #E6E6E6;
	width: 100%;
	background-color: #FFF9EA; /* violet */;
}

.body-title {
	/*width: 100%;*/
	background-color: #FFF9EA;/*#FFF9EA;*/ 
	margin: 0 0 0 0;
	font-weight: bold;
	font-family: Got;
	padding: 1% 0% 0% 1%;
}

.date-post {
	background-color: #FFF9EA; /*FFF9EA;*/
	/*width: 100%;*/
	padding: 0% 0% 0% 1%;
}

.body-post-corpus {
	background-color: #FFF9EA;
	width: 97%;
	padding: 0% 0% 1% 1%;
}

.body-center-right{
	width:100%;
	width: 20%;
	background-color: #FFF9EA;
	float: left;
	padding-left : 20px;
}

.search{
  width: 100%;
  background-color: #FFF9EA;
}

.recent-post{
  width: 100%;
  background-color: #FFF9EA;
}

.categories{
  width: 100%;
  background-color: #FFF9EA;
}

.body-side-right{
	float: left;
	width: 20%;
	background-color: #FFF9EA; /*rouge brun*/
}

.comments{
	padding: 1% 1% 1% 1%;
}